////// my-style

//text format
.text-format{
  line-height: 1.5;
  *{
    max-width: 100%;
  }
  h1,h2,h3,h4,h5,h6{
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
    &:not(:first-child){
      padding-top: 10px;
    }
  }
  blockquote{
    color: #868686;
    font-style: italic;
    padding-left: 15px;
    margin-left: 40px;
    border-left: 2px solid #eaeaea;
  }
  ul,ol{
    padding-left: 20px;
    text-align: left;
    li{
      margin-bottom: 5px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  table{
    width: 100%;
    margin-bottom: 10px;
    td{
      vertical-align: top;
    }
  }
  p,ul,ol,table{
    &:last-child {
      margin-bottom: 0;
    }
  }
  img{
    height: auto;
  }
}

//customise bootstrap
.btn:focus, .btn.focus{
  @include box-shadow(0 0 10px 2px rgba($color-turquoise, 0.25));
}
.btn-primary{
  background-color: $color-turquoise;
  border-color: $color-turquoise;
  &,
  &:not(:disabled):not(.disabled),
  &:not(:disabled):not(.disabled){
    &:active,
    &.active{
      &, &:focus{
        background-color: $color-turquoise;
        border-color: $color-turquoise;
        @include box-shadow(0 0 10px 2px rgba($color-turquoise, 0.25));
      }
    }
  }
  &.disabled,
  &:disabled{
    background-color: rgba($color-turquoise, 0.7);
    border-color: rgba($color-turquoise, 0.7);
  }
  &:hover{
    background-color: rgba($color-turquoise, 0.8);
    border-color: rgba($color-turquoise, 0.8);
  }
  &:focus,
  &.focus{
    @include box-shadow(0 0 10px 2px rgba($color-turquoise, 0.25));
  }
  &--light{
    border: 1px solid $color-turquoise;
    color: $color-turquoise;
    &:hover,&:focus{
      color: $color-turquoise;
      background: rgba($color-turquoise, 0.05);
    }
  }
}
.show > .btn-primary.dropdown-toggle{
  background-color: $color-turquoise;
  border-color: $color-turquoise;
  @include box-shadow(0 0 10px 2px rgba($color-turquoise, 0.25));
  &:focus{
    @include box-shadow(0 0 10px 2px rgba($color-turquoise, 0.25));
  }
}
.form-control{
  &:focus{
    border-color: $color-turquoise;
    box-shadow: 0 0 10px 2px rgba($color-turquoise, 0.25);
  }
}
.breadcrumb{
  background: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 18px;
}
