.breadcrumb{
    padding: 0;
    font-size: 12px;
    &-item{
        a{
            &:hover{
                color: $color-main;
            }
        }
        &.active{
            color: $color-green;
        }
    }
}
