.capacity-product{
  display: inline-block;
  margin: 0;
  @include user-select(none);
  label{
    display: inline-block;
    background: #f2f2f2;
    margin: 4px 0 0 0;
    padding: 4px;
    line-height: 1;
    cursor: pointer;
    input{
      display: none;
    }
    &.active{
      background: rgba($color-main, 0.1);
      color: $color-main;
    }
  }
}