.color-board{
  display: inline-block;
  margin: 0;
  @include user-select(none);
  label{
    background: #fff;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    @include border-radius(50%);
    margin: 4px 0 0 0;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    input{
      display: none;
    }
    &:before{
      content: '\f00c';
      font-family: $font-awesome;
      color: #fff;
      font-size: 13px;
      display: inline-block;
      visibility: hidden;
    }
    &.active{
      border: 1px solid $color-main;
      &:before{
        visibility: visible;
      }
    }
  }
}