.quantity {
  position: relative;
  display: inline-block;
  text-align: left;
  overflow: hidden;
  input[type=number]{
    -moz-appearance: textfield;
    width: 50px;
    height: 36px;
    line-height: 1.65;
    float: left;
    display: block;
    margin: 0;
    padding-left: 5px;
    border: 1px solid #eaeaea;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button{
      -webkit-appearance: none;
      margin: 0;
    }
    &:focus{
      outline: 0;
    }
  }
  &__up, &__down{
    position: absolute;
    cursor: pointer;
    border-left: 1px solid #eaeaea;
    width: 20px;
    line-height: 18px;
    text-align: center;
    color: #333;
    font-size: 13px;
    text-align: center;
    right: 0;
    height: 50%;
    @include user-select(none);
    @include transition(all linear .2s);
    &:hover{
      background: #f9f9f9;
    }
  }
  &__up{
    top: 0;
    border-bottom: 1px solid #eaeaea;
  }
  &__down{
    bottom: 0;
  }
}