.pagination{
  margin: 0;
  @include justify-content(center);
  font-size: 12px;
  .page-item{
    .page-link{
      padding: 0.5em;
      color: $color-main;
      text-align: center;
      &:focus{
        @include box-shadow(0 0 0 0.2rem rgba($color-main, 0.25));
      }
      @media (min-width: 576px) {
        min-width: 29px;
      }
    }
    &.active{
      .page-link{
        color: #fff;
        background: $color-main;
        border-color: $color-main;
      }
    }
  }

}