.search-product{
  position: relative;
  width: 270px;
  .close-box{
    display: none;
  }
  &__text{
    background: rgba(#000, 0.1);
    width: 100%;
    display: block;
    border: none;
    @include border-radius(5px);
    height: 50px;
    padding: 0 50px 0 10px;
    color: #fff;
    @include placeholder{
      color: rgba(#fff, 0.7);
    }
  }
  &__submit{
    width: 50px;
    height: 50px;
    text-align: center;
    border: none;
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    color: rgba(#fff, 0.7);
    font-size: 20px;
    &:hover{
      color: #fff;
    }
  }
  &__autocomplete{
    position: absolute;
    left: 0;
    right: 0;
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: #f7f7f7;
    z-index: 1000;
    display: none;
    @media (max-width: 575px) {
      left: 15px;
      right: 15px;
    }
    @import "../layouts/item-product-sortcut";
    .product-item-shortcut{
      padding: 10px;
      border-bottom: 1px solid #eaeaea;
      margin: 0 !important;
      &__thumb{
        @include flex(0 0 45px);
        max-width: 45px;
        img{
          height: 50px;
        }
      }
      &__content{
        @include flex(0 0 calc(100% - 45px));
        max-width: calc(100% - 45px);
      }
      &__title{
        font-size: 14px;
        margin: 0;
        @include line-clamp(2);
        max-height: 32px
      }
    }
  }
  @media (max-width: 1199px) {
    width: 500px;
  }
  @media (max-width: 991px) {
    width: 350px;
  }
  @media (max-width: 767px) {
    width: 280px;
  }
  @media (max-width: 575px) {
    width: 100%;
    position: absolute;
    right: 0;
    top: 100%;
    background: $color-main;
    padding: 10px 15px;
    .close-box{
      display: block;
      width: 38px;
      height: 50px;
      line-height: 50px;
      position: absolute;
      right: 0;
      top: 10px;
      color: rgba(#fff, 0.7);
      font-size: 20px;
      &:hover{
        color: #fff;
      }
    }
    @include transition(all linear .3s);
    visibility: hidden;
    opacity: 0;
    &__submit{
      right: 40px;
      top: 10px
    }
    &.opened{
      visibility: visible;
      opacity: 1;
    }
    &__text{
      padding: 0 80px 0 10px;
    }
  }
}
