.select-star-rating {
  display: inline-block;
  position: relative;
  @include user-select(none);
  &__input{
    @include flexbox();
    @include flex-direction(row-reverse);
    @include justify-content(space-around);
    @include align-items(center);
    input{
      display: none;
    }
    label {
      color:#ccc;
      cursor:pointer;
      font-size: 30px;
      line-height: 1;
      margin: 0;
      order: 1;
      @include transition(all linear .2s);
      &:after{
        content: attr(title);
        order: 0;
        color: $color-main;
        margin-left: 5px;
        font-weight: normal;
        font-size: 12px;
        position: absolute;
        left: 100%;
        top: 50%;
        @include translate(0, -50%);
        white-space: nowrap;
        display: none;
        width: 70px;
      }
      &:hover{
        color:#fc0;
        ~ label {
          color:#fc0;
        }
        &:after{
          display: block;
          background: #fff;
          z-index: 2;
        }
      }
    }
    :checked{
      ~ label {
        color:#f90;
      }
      & + label {
        &:after{
          display: block;
          z-index: 1;
        }
      }
    }
  }
}