.star-rating{
  width: 80px;
  height: 15px;
  background: url("/images/stars.png") repeat-x 0 -16px;
  position: relative;
  display: inline-block;
  @include user-select(none);
  span{
    position: absolute;
    left: 0;
    top: 0;
    width: 99%;
    height: 100%;
    background: url("/images/stars.png") repeat-x 0 0;
  }
}