//libraries
@import "../../base/vendor";
@import "~slick-carousel/slick/slick";

//abstracts
@import '../../abstracts/variables';
@import '../../abstracts/mixins';

//base
@import '../../base/reset';
@import '../../base/global';

//layouts
@import '../../layouts/header';
@import '../../layouts/footer';

//////my style
.title-section{
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-size: 28px;
  margin-bottom: 25px;
  font-weight: 400;
  @media (max-width: 991px) {
    font-size: 22px;
  }
  @media (max-width: 767px) {
    font-size: 18px;
  }
}

//home banner
.home-banner{
  padding: 0 0 40px;
  .row{
    margin: -10px;
  }
  [class*="col-"]{
    padding: 10px;
  }
  img{
    display: block;
    width: 100%;
  }
  &__slider{
    .slick{
      &__next, &__prev{
        position: absolute;
        border: none;
        padding: 0;
        font-size: 40px;
        color: #ccc;
        background: none;
        top: 50%;
        @include translate(0, -50%);
        @include transition(all linear .2s);
        z-index: 10;
        visibility: hidden;
        opacity: 0;
        &:hover{
          color: $color-main;
        }
        &:focus{
          outline: none;
        }
      }
      &__next{
        right: 15px;
      }
      &__prev{
        left: 15px;
      }
    }
    &:hover{
      .slick{
        &__next, &__prev{
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .slider-for{
      &__item{
        display: block !important;
      }
    }
    .slider-nav{
      cursor: pointer;
      background: #f8f8f8;
      &__item{
        text-align: center;
        padding: 1rem 0.5rem;
        position: relative;
        color: #999;
        h5{
          margin: 0;
          font-size: 13px;
          line-height: 1.6;
          font-weight: normal;
        }
        &:after{
          content: '';
          width: 1px;
          height: 100%;
          background: #fff;
          position: absolute;
          left: 100%;
          top: 0
        }
      }
      .slick-slide{
        &:focus{
          outline: none;
        }
        &.slick-current{
          .slider-nav__item{
            background: #fff;
            color: #000;
            h5{
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  @media (max-width: 991px) {
    padding-top: 20px;
  }
}

//home products
.home-products{
  padding: 40px 0;
  &:nth-child(2n+1){
    background: #f2f2f2;
  }
  &__list{
    .row{
      margin: -5px;
    }
    [class*="col-"]{
      padding: 5px;
    }
  }
  &--promotion{
    background: url("/images/bg-promotion.jpg") no-repeat center center fixed !important;
    background-size: cover;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: rgba(#fff, 0.7);
    }
    .title-section{
      i{
        color: #f00;
        font-size: 80px;
        display: block;
        margin-bottom: 15px;
      }
    }
    &__slider{
      margin: -5px;
      .slick{
        &_dots{
          @include flexbox();
          @include justify-content(center);
          padding: 0 10px;
          margin: 15px 0 0;
          list-style: none;
          font-size: 0;
          button{
            margin: 0 5px;
            padding: 0;
            width: 10px;
            height: 10px;
            @include border-radius(50%);
            background: none;
            border: 1px solid $color-main;
            &:hover,
            &:focus{
              outline: none;
            }
          }
          .slick-active{
            button{
              background: $color-main;
              border-color: $color-main;
            }
          }
        }
      }
    }
    &__item{
      padding: 5px;
    }
  }
  @import "../../layouts/item-product";
}

//customer feedback
.home-customers{
  border-top: 1px solid #f2f2f2;
  padding: 40px 0;
  &__slider{
    @import "../../layouts/customer-feedback";
    margin: 0 -10px;
    .slick-slide{
      padding: 0 10px;
      &:focus{
        outline: none;
      }
    }
  }
}

//manufacturer
.home-manufacturer{
  padding: 0 0 40px;
  &__slider{
    padding: 0 20px;
    .slick{
      &__next, &__prev{
        position: absolute;
        border: none;
        padding: 0;
        font-size: 25px;
        color: #ccc;
        background: none;
        top: 50%;
        @include translate(0, -50%);
        @include transition(all linear .2s);
        z-index: 10;
        &:hover{
          color: $color-main;
        }
        &:focus{
          outline: none;
        }
      }
      &__next{
        right: 0;
      }
      &__prev{
        left: 0;
      }
    }
  }
  &__item{
    padding: 5px 0.5rem;
    a{
      display: block;
      @include box-shadow(0 0 4px 0px #eee);
      background: #fff;
      padding: 15px;
      img{
        width: 100%;
        display: block;
      }
    }
  }
}

