//libraries
@import "../../base/vendor";

//abstracts
@import '../../abstracts/variables';
@import '../../abstracts/mixins';

//base
@import '../../base/reset';
@import '../../base/global';

//layouts
@import '../../layouts/header';
@import '../../layouts/footer';

.cart-page{
  background: #f3f3f3;
  padding: 40px 0;
  .cart-empty{
    &__box{
      background: #fff;
      padding: 40px 1rem;
      text-align: center;
    }
    &__icon{
      img{
        width: 75px
      }
    }
    &__notification{
      font-size: 18px;
      padding: 1rem 0;
    }
    &__comeback{
      display: inline-block;
      border: 1px solid $color-main;
      color: $color-main;
      text-transform: uppercase;
      padding: 10px 20px;
      &:hover{
        background: $color-main;
        color: #fff;
      }
    }
  }
  .cart-main{
    &__title{
      border-bottom: 1px solid #eaeaea;
      padding: 10px 15px;
      font-size: 13px;
      text-transform: uppercase;
      background: #fdfdfd;
      margin: 0;
    }
      &__products{
          background: #fff;
          margin-bottom: 1rem;
          .list-products{
              .product-cart{
                  padding: 1rem;
                  border-bottom: 1px solid #f9f9f9;
                  @include flexbox();
                  @include flex-wrap(wrap);
                  &:last-child{
                      border-color: #eaeaea;
                  }
                  &__thumb{
                      @include flex(0 0 80px);
                      max-width: 80px;
                      img{
                          width: 100%;
                          height: 80px;
                          @include object-fit(cover);
                          border: 1px solid #fbfbfb;
                          background: #fbfbfb;
                      }
                  }
                  &__info{
                      padding-left: 10px;
                      padding-right: 10px;
                      @include flex(0 0 calc(100% - 300px));
                      max-width: calc(100% - 300px);
                  }
                  &__title{
                      font-size: 12px;
                      color: #000;
                  }
                  &__color{
                      @import "../../components/color-board";
                      .color-board{
                          label{
                              width: 16px;
                              height: 16px;
                              line-height: 16px;
                          }
                      }
                  }
                  &__price{
                      @include flex(0 0 150px);
                      max-width: 150px;
                      .price{
                          p{
                              margin: 0;
                          }
                          &:not(.has-sale){
                              .price__original{
                                  color: $color-main;
                                  font-weight: 600;
                              }
                              .price__sale, .price__note{
                                  display: none;
                              }
                          }
                          &.has-sale{
                              .price__original{
                                  font-size: 0.8em;
                                  display: block;
                                  color: #999;
                                  text-decoration: line-through;
                              }
                              .price__sale{
                                  display: block;
                                  color: $color-main;
                                  font-weight: 600;
                                  font-size: 1em;
                              }
                              .price__note{
                                  background: rgba($color-main, 0.05);
                                  display: inline-block;
                                  padding: 3px;
                                  font-size: 11px;
                                  color: $color-main;
                                  line-height: 1;
                              }
                          }
                      }
                  }
                  &__action{
                      @include flex(0 0 70px);
                      max-width: 70px;
                      text-align: right;
                      @import "../../components/input-quantity";
                  }
                  &__delete{
                      background: none;
                      border: none;
                      margin: 8px 0 0 8px;
                      padding: 0;
                      font-size: 18px;
                      color: #f00;
                      float: right;
                  }
                  @media (max-width: 767px) {
                      &__info{
                          @include flex(0 0 calc(100% - 80px));
                          max-width: calc(100% - 80px);
                      }
                      &__price{
                          @include flex(0 0 calc(100% - 70px));
                          max-width: calc(100% - 70px);
                          padding-top: 5px;
                      }
                      &__action{
                          padding-top: 10px;
                      }
                  }
              }
          }
      }
      &__total{
          padding: 1rem;
          background: #fff;
      }
      &__discount{
          .use-discount{
              color: $color-green;
              font-size: 13px;
              display: inline-block;
              &:not(.checked){
                  &:before{
                      content:'';
                      width: 10px;
                      height: 10px;
                      border: 1px solid;
                      border-radius: 2px;
                      display: inline-block;
                      margin-right: 5px;
                  }
              }
              &.checked{
                  &:before{
                      content:'\f14a';
                      font-family: $font-awesome;
                      display: inline-block;
                      margin-right: 5px;
                      font-weight: 700;
                  }
              }
          }
          .form-discount{
              padding: 5px 0;
              display: none;
              &__text{
                  border: 1px solid #eaeaea;
                  padding: 7px 10px;
                  font-size: 13px;
              }
              &__button{
                  background: rgba($color-main, 0.8);
                  color: #fff;
                  font-size: 12px;
                  border: none;
                  &:hover{
                      background: $color-main;
                  }
              }
          }
      }
      &__calculator{
          table{
              width: 100%;
              .active{
                  color: $color-main;
              }
              td:last-child{
                  text-align: right;
              }
              strong{
                  font-weight: 600;
              }
              small{
                  font-size: 0.8em;
              }
          }
      }
      &__payments{
          background: #fff;
          margin-bottom: 1rem;
          .select-payment{
              padding: 15px;
              label{
                  display: block;
                  padding-left: 25px;
                  position: relative;
                  cursor: pointer;
                  span{
                      display: inline-block;
                      &:before{
                        content: '';
                          position: absolute;
                          width: 16px;
                          height: 16px;
                          border: 1px solid #ccc;
                          @include border-radius(50%);
                          left: 0;
                          top: 0;
                          @include transition(all linear .2s);
                      }
                      &:after{
                          content: '';
                          position: absolute;
                          width: 12px;
                          height: 12px;
                          background: $color-main;
                          @include border-radius(50%);
                          left: 2px;
                          top: 2px;
                          @include transition(all linear .2s);
                          visibility: hidden;
                          opacity: 0;
                      }
                  }
                  &:hover{
                      span{
                          &:before{
                              border-color: $color-main;
                          }
                      }
                  }
              }
              input[type="radio"]{
                  display: none;
                  &:checked{
                      + span{
                          &:before{
                              border-color: $color-main;
                          }
                          &:after{
                              visibility: visible;
                              opacity: 1;
                          }
                      }
                  }
              }
              .alert-error{
                  color: $color-red;
                  font-size: 12px;
                  margin-top: 4px;
                  padding-left: 25px;
              }
          }
      }
    &__form-info{
      background: #fff;
      margin-bottom: 1rem;
      .form-info-customer{
        padding: 1rem;
        .form-control{
          &:focus{
            @include box-shadow(none);
          }
          &.error{
            border-color: $color-red;
          }
        }
        .form-group{
          &__row{
            label{
              font-size: 12px;
              font-weight: 600;
              color: #000;
              span{
                color: $color-red
              }
              small{
                display: inline-block;
                font-size: 0.8em;
                color: #999;
              }
            }
          }
          &__alert{
            color: #999;
            .alert-error{
              color: $color-red;
              font-size: 12px;
              margin-top: 4px;
            }
          }
          @media (min-width: 450px) {
            &__row{
              @include flexbox();
              @include align-items(center);
              @include flex-wrap(wrap);
              label{
                margin: 0;
                @include flex(0 0 100px);
                max-width: 100px;
              }
              input{
                @include flex(0 0 calc(100% - 100px));
                max-width: calc(100% - 100px);
              }
            }
            &__alert{
              padding-left: 100px;
            }
          }
        }
      }
    }
    &__submit{
      display: block;
      background: rgba($color-main, 0.8);
      color:#fff;
      border: none;
      @include border-radius(5px);
      text-transform: uppercase;
      font-weight: 600;
      font-size: 16px;
      width: 100%;
      padding: 10px 15px;
      small{
        display: block;
        font-size: 10px;
        font-weight: normal;
        text-transform: none;
      }
      &:hover{
        background: $color-main;
      }
    }
    &__note{
      text-align: center;
      p{
        font-size: 12px;
        color: #999;
        a{
          &:hover{
            color: $color-main;
          }
        }
      }
    }
    &__comeback{
      display: inline-block;
      border: 1px solid $color-main;
      color: $color-main;
      text-transform: uppercase;
      padding: 10px 20px;
      &:hover{
        background: $color-main;
        color: #fff;
      }
    }
  }
}
