//libraries
@import "../../base/vendor";

//abstracts
@import '../../abstracts/variables';
@import '../../abstracts/mixins';

//animate
@import "~animatewithsass/_bouncing-entrances/bounceIn";

//base
@import '../../base/reset';
@import '../../base/global';

//layouts
@import '../../layouts/header';
@import '../../layouts/footer';
.order-success-page{
    background: #f7f7f7;
    padding: 40px 0;
    &__head{
        text-align: center;
        margin-bottom: 1rem;
        i{
            background: $color-main;
            width: 70px;
            height: 70px;
            line-height: 70px;
            @include border-radius(50%);
            color: #fff;
            text-align: center;
            display: inline-block;
            margin-bottom: 1rem;
            &:before{
                display: inline-block;
                font-size: 50px;
                @include bounceIn(
                    $duration: 0.6s,
                    $delay: .3s,
                    $function: linear
                )
            }
        }
        h1{
            font-size: 16px;
            color: #000;
            margin-bottom: 10px;
        }
        p{
            font-size: 12px;
            font-style: italic;
            margin: 0;
        }
    }
    .row{
        margin: -0.5rem;
    }
    [class*="col-"]{
        padding: 0.5rem;
    }
    .order-payment{
        background: #fff;
        &__title{
            border-bottom: 1px solid #eaeaea;
            padding: 10px 15px;
            font-size: 13px;
            text-transform: uppercase;
            background: #fdfdfd;
            margin: 0;
        }
        &__content{
            padding: 15px;
            font-size: 13px;
        }
    }
    .order-success{
        &__title{
            border-bottom: 1px solid #eaeaea;
            padding: 10px 15px;
            font-size: 13px;
            text-transform: uppercase;
            background: #fdfdfd;
            margin: 0;
        }
        &__information{
            background: #fff;
            margin-bottom: 1rem;
            .table{
                font-size: 12px;
                margin: 0;
                td{
                    border: none;
                    &:first-child{
                        color: #999;
                    }
                }
            }
        }
        &__products{
            background: #fff;
            .item-product-purchased{
                padding: 1rem;
                @include flexbox();
                @include flex-wrap(wrap);
                &:not(:last-child){
                    border-bottom: 1px solid #f9f9f9;
                }
                &__thumb{
                    @include flex(0 0 60px);
                    max-width: 60px;
                    img{
                        display: block;
                        width: 100%;
                        border: 1px solid #fafafa;
                        background: #fafafa;
                        height: 60px;
                        @include object-fit(cover);
                    }
                }
                &__info{
                    @include flex(0 0 calc(100% - 210px));
                    max-width: calc(100% - 210px);
                    padding-left: 10px;
                    h6{
                        margin: 0 0 5px;
                        color: #000;
                        font-size: 11px;
                        @include line-clamp(2);
                        max-height: 26px;
                    }
                    p{
                        margin: 0;
                        font-size: 11px;
                        span{
                            color: #999;
                        }
                    }
                }
                &__price{
                    @include flex(0 0 150px);
                    max-width: 150px;
                    text-align: right;
                    .price{
                        p{
                            margin: 0;
                        }
                        &:not(.has-sale){
                            .price__original{
                                color: $color-main;
                                font-weight: 600;
                            }
                            .price__sale{
                                display: none;
                            }
                        }
                        &.has-sale{
                            .price__original{
                                font-size: 0.8em;
                                display: block;
                                color: #999;
                                text-decoration: line-through;
                            }
                            .price__sale{
                                display: block;
                                color: $color-main;
                                font-weight: 600;
                                font-size: 1em;
                            }
                        }
                    }
                }
                @media (max-width: 575px) {
                    &__info{
                        @include flex(0 0 calc(100% - 60px));
                        max-width: calc(100% - 60px);
                    }
                    &__price{
                        @include flex(0 0 100%);
                        max-width: 100%;
                    }
                }
            }
        }
        &__calculator{
            padding: 15px;
            border-top: 1px solid #eaeaea;
            background: #fff;
            @include flexbox();
            @include justify-content(flex-end);
            table{
                width: 100%;
                max-width: 250px;
                .active{
                    color: $color-main;
                }
                td:last-child{
                    text-align: right;
                }
                strong{
                    font-weight: 600;
                }
                small{
                    font-size: 0.8em;
                }
            }
        }
        &__comeback{
            text-align: center;
            padding: 15px;
            border-top: 1px solid #eaeaea;
            background: #fff;
            .button-comback{
                display: inline-block;
                border: 1px solid $color-main;
                color: $color-main;
                text-transform: uppercase;
                padding: 10px 20px;
                &:hover{
                    background: $color-main;
                    color: #fff;
                }
            }
        }
    }
}
