//libraries
@import "../../base/vendor";

//abstracts
@import '../../abstracts/variables';
@import '../../abstracts/mixins';

//base
@import '../../base/reset';
@import '../../base/global';

//layouts
@import '../../layouts/header';
@import '../../layouts/footer';

.category-product-page{
  .title-category{
    color: $color-main;
    background: rgba($color-main, 0.05);
    text-align: center;
    padding: 15px;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 10px;
    @media (max-width: 1199px) {
      font-size: 28px;
    }
    @media (max-width: 1199px) {
      font-size: 22px;
      margin-top: 10px;
    }
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
  .list-products{
    padding-bottom: 40px;
    .row{
      margin: -5px;
    }
    [class*="col-"]{
      padding: 5px;
    }
    @import "../../layouts/item-product";
  }
  .detail-category{
    margin-bottom: 40px;
    .text-format{
      overflow: hidden;
      max-height: 200px;
    }
    &.show{
      .text-format{
        max-height: 100%;
        overflow: inherit;
      }
    }
    &__view-more{
      display: block;
      text-align: center;
      color: rgba($color-main, 0.8);
      font-weight: bold;
      font-size: 16px;
    }
  }
}