//libraries
@import "../../base/vendor";
@import "~slick-carousel/slick/slick";
@import "~@fancyapps/fancybox";
//abstracts
@import '../../abstracts/variables';
@import '../../abstracts/mixins';

//base
@import '../../base/reset';
@import '../../base/global';

//layouts
@import '../../layouts/header';
@import '../../layouts/footer';

//////my style
@mixin title-section(){
  padding: 15px;
  font-size: 14px;
  border-bottom: 1px solid #eaeaea;
  margin: 0;
  color: #999;
  text-transform: uppercase;
  font-weight: 500;
}
.product-detail-page{
  padding: 1rem 0 40px;
  background: #f3f3f3;
    @import "../../components/breadcrumb";
  &__content{
    > .row{
      margin: -0.5rem;
      > [class*="col-"]{
        padding: 0.5rem;
      }
    }
    [class*="__slider"]{
      .slick{
        &__next, &__prev{
          position: absolute;
          border: none;
          padding: 0;
          font-size: 40px;
          color: #ccc;
          background: none;
          top: 50%;
          @include translate(0, -50%);
          @include transition(all linear .2s);
          z-index: 10;
          visibility: hidden;
          opacity: 0;
          &:hover{
            color: $color-main;
          }
          &:focus{
            outline: none;
          }
        }
        &__next{
          right: 15px;
        }
        &__prev{
          left: 15px;
        }
      }
      &:hover{
        .slick{
          &__next, &__prev{
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
  .box-information{
    background: #fff;
    .row{
      margin: 0;
    }
    [class*="col-"]{
      padding: 0;
    }
    @import "./detail/information-head";
    @import "./detail/information-thumbnails";
    @import "./detail/information-actions";
    @import "./detail/information-sidebar";
  }
  .box-accessories{
    @import "./detail/related-accessories";
  }
  .box-information-more{
    .row{
      margin: -0.5rem;
    }
    [class*="col-"]{
      padding: 0.5rem;
    }
    @import "./detail/specifications";
    @import "./detail/related-products";
    @import "./detail/related-posts";
  }
  .box-interactive{
    position: relative;
    &__nav{
      position: sticky;
      top: 46px;
      left: 0;
      width: 100%;
      background: #fff;
      border-bottom: 1px solid #eaeaea;
      z-index: 5;
      ul{
        padding: 0;
        margin: 0;
        list-style: none;
        @include flexbox();
        li{
          a{
            display: block;
            padding: 10px 15px;
            @include title-section();
            border: 0;
            position: relative;
            &:hover, &:focus{
              background: rgba($color-main, 0.05);
            }
            &:focus{
              color: $color-main;
            }
            &:before{
              content: '';
              width: 100%;
              height: 3px;
              background: $color-main;
              position: absolute;
              bottom: -1px;
              left: 0;
              visibility: hidden;
              opacity: 0;
              @include transition(all linear .3s);
            }
            @media (max-width: 767px) {
              font-size: 13px;
            }
            @media (max-width: 575px) {
              font-size: 12px;
            }
            @media (max-width: 500px) {
              font-size: 11px;
              font-weight: normal;
              padding: 10px;
            }
            @media (max-width: 430px) {
              font-size: 10px;
              padding: 10px 5px;
            }
            @media (max-width: 370px) {
              text-transform: none;
            }
          }
          &.active{
            a{
              color: $color-main;
              &:before{
                visibility: visible;
                opacity: 1;
              }
            }
          }
        }
      }
      @media (max-width: 991px) {
        top: 68px;
      }
    }
    @import "./detail/description";
    @import "./detail/reviews-and-comments";
    @import "./detail/questions-and-answers";
    @import "./detail/gallery";
  }
}
