//libraries
@import "../../base/vendor";

//abstracts
@import '../../abstracts/variables';
@import '../../abstracts/mixins';

//base
@import '../../base/reset';
@import '../../base/global';

//layouts
@import '../../layouts/header-blog';
@import '../../layouts/footer';

/////my style
.category-blog-page{
    padding: 40px 0;
    &__title{
        background: rgba(214, 39, 39, 0.05);
        padding: 10px 15px;
        color: #000;
        font-size: 24px;
        text-transform: uppercase;
        border-left: 4px solid #d62727;
        margin: 0;
    }
    &__desc{
        line-height: 1.67;
        margin: 0.5rem 0;
        padding: 0.5rem 0;
    }
    &__list{
        .blog-item{
            @include flexbox();
            @include flex-wrap(wrap);
            padding: 1rem 0;
            border-top: 1px solid #eaeaea;
            &__thumb{
                @include flex(0 0 35%);
                max-width: 35%;
                position: relative;
                overflow: hidden;
                img{
                    @include object-fit(cover);
                    width: 100%;
                    height: 100%;
                    max-height: 165px;
                    @include transition(all linear 0.3s);
                }
            }
            &__action{
                position: absolute;
                background: rgba($color-main, 0.5);
                width: 100%;
                bottom: 0;
                left: 0;
                @include flexbox();
                @include flex-wrap(wrap);
                @include translate(0, 100%);
                @include transition(all ease .5s);
                visibility: hidden;
                opacity: 0;
                a{
                    color: #fff;
                    font-size: 20px;
                    @include flex(0 0 50%);
                    max-width: 50%;
                    text-align: center;
                    padding: 1rem 0;
                    &:hover{
                        background: rgba($color-main, 0.7);
                    }
                }
            }
            &__content{
                @include flex(0 0 65%);
                max-width: 65%;
                padding-left: 1rem;
            }
            &__title{
                color: #000;
                font-size: 18px;
                margin-bottom: 0.5rem;
                line-height: 1.3;
                a{
                    &:hover{
                        color: $color-main;
                    }
                }
                @media (min-width: 768px){
                    @include line-clamp(3);
                    max-height: 69px;
                }
            }
            &__time-cate{
                color: #999;
                font-size: 13px;
                margin-bottom: 0.5rem;
                a{
                    color: $color-main;
                    margin-left: 15px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            &__desc{
                line-height: 1.67;
                @include line-clamp(3);
                max-height: 69px;
            }
            &:hover{
                .blog-item{
                    &__thumb{
                        img{
                            @include scale(1.1);
                        }
                    }
                    &__action{
                        @include translate(0, 0);
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
            @media (max-width: 500px){
                &__thumb, &__content{
                    @include flex(0 0 100%);
                    max-width: 100%;
                }
                &__content{
                    padding: 10px 0 0 0;
                }
                &__thumb{
                    img{
                        max-height: 200px;
                    }
                }
            }
        }
    }
    .modal-show-thumbnail{
        padding: 0 !important;
        .modal-dialog{
            max-width: 100% !important;
            height: 100vh;
            width: 100%;
            margin: 0;
        }
        &__close{
            position: absolute;
            right: 0;
            top: 0;
            padding: 0;
            margin: 0;
            border: none;
            color: #fff;
            font-size: 40px;
            background: none;
            line-height: 1;
            width: 40px;
            height: 40px;
            background: rgba(255, 255, 255, 0.4);
            pointer-events: auto;
            &:hover{
                color: $color-main;
            }
        }
        &__img{
            max-width: calc(100vw - 30px);
            max-height: calc(100vh - 30px);
            position: absolute;
            left: 50%;
            top: 50%;
            @include translate(-50%, -50%);
            pointer-events: bounding-box;
        }
    }
    &__view-more{
        background: rgba($color-main, 0.8);
        color: #fff;
        display: block;
        padding: 10px 15px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        &:hover{
            background: $color-main;
            color: #fff;
        }
    }
    @import "../../layouts/blog-sidebar";
}
