//libraries
@import "../../base/vendor";
@import "~slick-carousel/slick/slick";

//abstracts
@import '../../abstracts/variables';
@import '../../abstracts/mixins';

//base
@import '../../base/reset';
@import '../../base/global';

//layouts
@import '../../layouts/header-blog';
@import '../../layouts/footer';

///////my style
.blog-detail-page{
  padding: 40px 0;
  .blog-detail{
    &__title{
      font-size: 30px;
      color: #000;
      margin-bottom: 20px;
      padding: 0;
      @media (max-width: 1199px) {
        font-size: 26px;
      }
      @media (max-width: 575px) {
        font-size: 20px;
      }
    }
    &__thumbnail{
      margin-bottom: 20px;
      img{
        display: block;
        width: 100%;
      }
    }
  }
  .advertise{
    padding-top: 40px;
    .slick{
      &__next, &__prev{
        position: absolute;
        border: none;
        padding: 0;
        font-size: 40px;
        color: #ccc;
        background: none;
        top: 50%;
        @include translate(0, -50%);
        @include transition(all linear .2s);
        z-index: 10;
        visibility: hidden;
        opacity: 0;
        &:hover{
          color: $color-main;
        }
        &:focus{
          outline: none;
        }
      }
      &__next{
        right: 15px;
      }
      &__prev{
        left: 15px;
      }
    }
    &:hover{
      .slick{
        &__next, &__prev{
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  .blog-related{
    padding-top: 40px;
    &__title{
      text-transform: uppercase;
      color: #000;
      border-bottom: 1px solid #eaeaea;
      font-size: 18px;
      padding-bottom: 5px;
      margin-bottom: 1rem;
    }
    .row{
      margin: -5px
    }
    [class*="col-"]{
      padding: 5px;
    }
    .blog-item{
      &--shortcut{
        &__thumb{
          img{
            display: block;
            width: 100%;
            @include object-fit(cover);
            height: 124px;
            @media (max-width: 1199px){
              height: 103px;
            }
            @media (max-width: 991px){
              height: 117px;
            }
            @media (max-width: 767px){
              height: 86px;
            }
            @media (max-width: 575px){
              height: 133px;
            }
            @media (max-width: 480px){
              height: 100px;
            }
          }
        }
        &__content{
          padding-top: 0.5rem;
        }
        &__title{
          color: #000;
          font-size: 14px;
          line-height: 1.3;
          @include line-clamp(4);
          max-height: 72px;
          a{
            &:hover{
              color: $color-main;
            }
          }
        }
      }
    }
  }
  @import '../../layouts/blog-sidebar';
}