//libraries
@import "../../base/vendor";
@import "~slick-carousel/slick/slick";

//abstracts
@import '../../abstracts/variables';
@import '../../abstracts/mixins';

//base
@import '../../base/reset';
@import '../../base/global';

//layouts
@import '../../layouts/header-blog';
@import '../../layouts/footer';

////my style
.blog-page{
  padding: 30px 0;
  .list-blog-icon{
    margin-bottom: 1rem;
    overflow: hidden;
    &__slider{
      margin: 0 -5px;
    }
    &__box{
      display: block !important;
      padding: 0 5px;
      img{
        width: 100%;
      }
    }
  }
  &__top{
    margin-bottom: 1rem;
    .row{
      margin: -0.5rem;
    }
    [class*="col-"]{
      padding: 0.5rem;
    }
    .blog-item{
      &__thumb{
        img{
          width: 100%;
          @include object-fit(cover);
          height: 253px;
          @media (max-width: 1199px){
            height: 211px;
          }
          @media (max-width: 991px){
            height: 229px;
          }
          @media (max-width: 767px){
            height: 252px;
          }
          @media (max-width: 480px){
            height: auto;
            max-height: 230px;
          }
        }
      }
      &__content{
        padding-top: 10px;
      }
      &__title{
        color: #000;
        font-size: 18px;
        margin-bottom: 0.5rem;
        line-height: 1.3;
        a{
          &:hover{
            color: $color-main;
          }
        }
        @media (min-width: 768px){
          @include line-clamp(3);
          max-height: 69px;
        }
      }
      &__time-cate{
        color: #999;
        font-size: 13px;
        margin-bottom: 0.5rem;
        a{
          color: $color-main;
          margin-left: 15px;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      &__desc{
        line-height: 1.67;
        @include line-clamp(3);
        max-height: 69px;
      }
      &--shortcut{
        &__thumb{
          img{
            width: 100%;
            @include object-fit(cover);
            height: 123px;
            @media (max-width: 1199px){
              height: 102px;
            }
            @media (max-width: 991px){
              height: 116px;
            }
            @media (max-width: 767px){
              height: 130px;
            }
            @media (max-width: 480px){
              height: auto;
            }
          }
        }
        &__content{
          padding-top: 10px;
        }
        &__title{
          color: #000;
          font-size: 15px;
          margin: 0;
          line-height: 1.3;
            @include line-clamp(3);
            max-height: 69px;
          a{
            &:hover{
              color: $color-main;
            }
          }
        }
        @media (max-width: 575px) {
          @include flexbox();
            @include flex-wrap(wrap);
          &__thumb{
            @include flex(0 0 25%);
              max-width: 25%;
              @include flexbox();
              a{
                  img{
                      height: 100%;
                      max-height: 60px;
                  }
              }
          }
          &__content{
            padding: 0 0 0 15px;
              @include flex(0 0 75%);
              max-width: 75%;
          }
        }
      }
      &--only-title{
        border-top: 1px solid #eaeaea;
          padding: 0.5rem 0;
          margin: 0;
        a{
            font-size: 15px;
            color: #000;
            line-height: 1.3;
            margin: 0;
            display: block;
          &:hover{
            color: $color-main;
          }
        }
          @media (min-width: 768px){
              @include line-clamp(3);
              max-height: 69px;
          }
      }
    }
  }
  &__list{
    .blog-item{
      @include flexbox();
      @include flex-wrap(wrap);
      padding: 1rem 0;
      border-top: 1px solid #eaeaea;
      &__thumb{
        @include flex(0 0 35%);
        max-width: 35%;
          img{
            @include object-fit(cover);
              width: 100%;
              max-height: 165px;
              height: 100%;
          }
      }
      &__content{
        @include flex(0 0 65%);
        max-width: 65%;
        padding-left: 1rem;
      }
      &__title{
        color: #000;
        font-size: 18px;
        margin-bottom: 0.5rem;
        line-height: 1.3;
        a{
          &:hover{
            color: $color-main;
          }
        }
        @media (min-width: 768px){
          @include line-clamp(3);
          max-height: 69px;
        }
      }
      &__time-cate{
        color: #999;
        font-size: 13px;
        margin-bottom: 0.5rem;
        a{
          color: $color-main;
          margin-left: 15px;
            display: inline-block;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      &__desc{
        line-height: 1.67;
        @include line-clamp(3);
        max-height: 69px;
      }
      @media (max-width: 500px){
        &__thumb, &__content{
          @include flex(0 0 100%);
          max-width: 100%;
        }
        &__content{
          padding: 10px 0 0 0;
        }
        &__thumb{
            img{
                max-height: 200px;
            }
        }
      }
    }
  }
  &__view-more{
    background: rgba($color-main, 0.8);
    color: #fff;
    display: block;
      padding: 10px 15px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      &:hover{
          background: $color-main;
          color: #fff;
      }
  }
    @import "../../layouts/blog-sidebar";
}
