.information-sidebar{
  border-left: 1px solid #eaeaea;
  padding: 15px;
  width: 100%;
  .row{
    margin: -15px;
  }
  [class*="col-"]{
    padding: 15px;
  }
  &__title{
    font-size: 14px;
    color: #000;
    font-weight: 600;
    margin-bottom: 15px;
  }
  &__list{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
    li{
      padding-left: 25px;
      position: relative;
      &:not(:last-child){
        margin-bottom: 10px;
      }
      i{
        position: absolute;
        left: 0;
        top: 0;
        color: $color-main;
        font-size: 14px;
      }
      a{
        &:hover{
          color: $color-main;
        }
      }
    }
  }
  @media (max-width: 991px) {
    border-left: none;
    border-top: 1px solid #eaeaea;
  }
}