.information-head{
  padding: 15px;
  border-bottom: 1px solid #eaeaea;
  &__title{
    color: #000;
    font-size: 18px;
    small{
      font-size: 13px;
      font-weight: normal;
    }
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  &__reviews{
    font-size: 11px;
    color: #999;
    @import "../../../components/star-rating";
  }
}