.information-actions{
  padding: 15px;
  &__price{
    margin-bottom: 25px;
    .price{
      p{
        margin-bottom: 5px;
      }
      &__sale{
        font-size: 26px;
        font-weight: bold;
        color: $color-main;
        @media (max-width: 575px) {
          font-size: 22px;
        }
      }
      &__original{
        text-decoration: line-through;
      }
      &__saving{
        font-weight: bold;
      }
    }
  }
  &__color{
    margin-bottom: 10px;
    @import "../../../components/color-board";
  }
  &__capacity{
    margin-bottom: 25px;
    @import "../../../components/capacity-product";
  }
  &__promotion{
    margin-bottom: 25px;
    .promotion{
      @include border-radius(5px);
      &__title{
        color: $color-main;
        background: rgba($color-main, 0.1);
        padding: 10px;
        text-transform: uppercase;
        font-size: 13px;
        margin: 0;
        @include border-radius(5px 5px 0 0);
        i{
          font-size: 16px;
          margin-right: 0.5rem;
        }
      }
      &__content{
        padding: 15px 10px;
        font-size: 14px;
        border: 1px dashed rgba($color-main, 0.1);
        border-top: 0;
        @include border-radius(0 0 5px 5px);
      }
    }
  }
  &__add-to-cart{
    .button-add-to-cart{
      display: block;
      background: rgba($color-main, 0.8);
      color: #fff;
      border: none;
      @include border-radius(5px);
      text-transform: uppercase;
      font-weight: 600;
      font-size: 20px;
      width: 100%;
      padding: 10px 15px;
      &:hover{
        background: $color-main;
      }
      small{
        display: block;
        font-size: 13px;
        font-weight: normal;
        text-transform: none;
      }
    }
  }
}