@import "~easyzoom/css/easyzoom";
.information-thumbnails{
  padding: 15px;
  .easyzoom-flyout{
    img{
      max-width: none;
    }
  }
  &__list{
    margin-top: 6px;
    .row{
      margin: -3px;
    }
    [class*="col-"]{
      padding: 3px;
    }
      a{
          display: block;
          position: relative;
          &.active{
              &:after{
                  content: '';
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  right: 0;
                  top: 0;
                  border: 5px solid rgba($color-main, 0.8);
              }
          }
      }
    img{
      width: 100%;
        display: block;
    }
  }
}
