.questions-and-answers{
  background: #fff;
  margin-top: 1rem;
  &__title{
    @include title-section();
  }
  &__main{
    padding: 15px;
  }
  &__add-question{
    padding-bottom: 15px;
    border-bottom: 1px solid #f7f7f7;
  }
  &__list{
    .item-interactive{
      padding: 15px 0;
      border-bottom: 1px dashed #f7f7f7;
        .user-interactive{
            @include flexbox();
            @include flex-wrap(wrap);
            border-top: 1px dashed #eaeaea;
            &:first-child{
                border-top: none;
                margin-top: 15px;
                position: relative;
                &:before{
                    content:'';
                    @include triangle(top, 10px 10px 10px, #f9f9f9);
                    position: absolute;
                    left: 30px;
                    bottom: 100%;
                }
            }
            &__thumb{
                @include flex(0 0 30px);
                max-width: 30px;
                abbr{
                    width: 100%;
                    display: block;
                    height: 30px;
                    @include border-radius(50%);
                    text-align: center;
                    line-height: 30px;
                    background: rgba($color-main, 0.5);
                    color: #fff;
                    cursor: pointer;
                }
            }
            &__head{
                margin-bottom: 0.5rem;
                font-size: 11px;
            }
            &__title{
                display: inline-block;
                font-weight: 600;
                color: #000;
                font-size: 12px;
                margin-right: 10px;
                margin-bottom: 0;
            }
            &__status{
                color: #fff;
                background: $color-main;
                margin-right: 10px;
                padding: 3px 5px;
            }
            &__time{
                color: #999
            }
            &__content{
                @include flex(0 0 calc(100% - 30px));
                max-width: calc(100% - 30px);
                padding-left: 10px;
                font-size: 13px;
            }
        }
        &__actions{
            font-size: 13px;
            padding-left: 30px;
            margin: 10px;
            [class*="action-"]{
                display: inline-block;
                &:not(:last-child){
                    margin-right: 15px;
                }
            }
            .action-reply{
                color: $color-green;
            }
            .action-hide{
                color: $color-orange;
            }
            .action-delete{
                color: $color-red;
            }
        }
        &__reply{
            padding-left: 30px;
            .user-interactive{
                padding: 15px;
                background: #f9f9f9;
            }
        }
      &__add-reply{
        padding-left: 30px;
          display: none;
          .form-add-interactive{
              padding: 15px;
              background: #f7f7f7;
              border-top: 1px solid #eaeaea;
              textarea{
                  height: 55px;
              }
          }
      }
    }
  }
  &__pagination{
    padding-top: 15px;
    @import "../../../components/pagination";
  }
  .modal-complete-send-question{
    .btn-facebook{
      position: relative;
      background: $color-facebook;
      color: #fff;
    }
  }
  .form-control{
    &:focus{
      @include box-shadow(none);
    }
    &.error{
      border-color: $color-red;
    }
  }
  .form-group{
    label{
      font-size: 14px;
      font-weight: 500;
      color: #000;
      span{
        color: $color-red
      }
      small{
        display: inline-block;
        font-size: 0.8em;
        color: #999;
      }
    }
    .alert-error{
      color: $color-red;
      font-size: 12px;
      margin-top: 4px;
    }
  }
}
