.related-accessories{
  background: #fff;
  &__title{
    @include title-section();
  }
  &__slider{
    padding: 0 5px;
  }
  &__item{
    .accessory{
      padding: 10px;
      @include transition(all linear .2s);
      &:hover{
        @include box-shadow(1px 2px 7px 0 rgba(#000,0.2));
      }
      &__thumb{
        img{
          width: 100%;
          display: block;
          @include object-fit(cover);
          height: 200px;
          @media (max-width: 1199px) {
            height: 164px
          }
          @media (max-width: 991px) {
            height: 150px
          }
          @media (max-width: 767px) {
            height: 147px
          }
          @media (max-width: 575px) {
            height: auto;
            max-height: 147px;
          }
          @media (max-width: 575px) {
            max-height: none;
          }
        }
      }
      &__content{
        padding-top: 10px;
      }
      &__title{
        font-size: 14px;
        @include line-clamp(2);
        line-height: 1.5;
        height: 42px;
        &:hover{
          color: $color-main;
        }
      }
      &__price{
        .price{
          font-size: 13px;
          &:not(.has-sale){
            .price__original{
              color: $color-main;
              font-weight: 600;
            }
            .price__sale{
              display: none;
            }
          }
          &.has-sale{
            .price__original{
              font-size: 0.8em;
              display: inline-block;
              color: #999;
              text-decoration: line-through;
            }
            .price__sale{
              display: inline-block;
              color: $color-main;
              font-weight: 600;
              font-size: 1em;
            }
          }
        }
      }
      &__reviews{
        small{
          color: #999;
          font-size: 11px;
        }
        @import "../../../components/star-rating";
      }
    }
  }
}
