.related-products{
  background: #fff;
  width: 100%;
  &__title{
    @include title-section();
  }
  &__list{
    padding: 15px;
    .related-product-item{
      @include flexbox();
      @include flex-wrap(wrap);
      &:not(:last-child){
        margin-bottom: 1rem;
      }
      &__thumb{
        @include flex(0 0 80px);
        max-width: 80px;
        img{
          display: block;
          width: 100%;
          height: 80px;
          @include object-fit(cover);
          border: 1px solid #f9f9f9;
          background: #f9f9f9;
        }
      }
      &__content{
        @include flex(0 0 calc(100% - 80px));
        max-width: calc(100% - 80px);
        padding-left: 10px;
      }
      &__title{
        font-size: 14px;
        color: #000;
        margin-bottom: 0.5rem;
        @include line-clamp(2);
        max-height: 36px;
        a:hover{
          color: $color-main;
        }
      }
      &__price{
        .price{
          font-size: 13px;
          &:not(.has-sale){
            .price__original{
              color: $color-main;
              font-weight: 600;
            }
            .price__sale{
              display: none;
            }
          }
          &.has-sale{
            .price__original{
              font-size: 0.8em;
              display: inline-block;
              color: #999;
              text-decoration: line-through;
            }
            .price__sale{
              display: inline-block;
              color: $color-main;
              font-weight: 600;
              font-size: 1em;
            }
          }
        }
      }
      &__desc{
        font-size: 11px;
        color: #999;
        margin-top: 0.5rem;
      }
    }
  }
}
