.related-posts{
  background: #fff;
  width: 100%;
  &__title{
    @include title-section();
  }
  &__list{
    padding: 15px;
    .blog-item{
      &--shortcut{
        @include flexbox();
        @include flex-wrap(wrap);
        @include align-items(center);
        background: #fdfdfd;
        &:not(:last-child){
          margin-bottom: 10px;
        }
        &__thumb{
          @include flex(0 0 100px);
          max-width: 100px;
          img{
            display: block;
            width: 100%;
            height: 80px;
            @include object-fit(cover);
          }
        }
        &__content{
          @include flex(0 0 calc(100% - 100px));
          max-width: calc(100% - 100px);
          padding: 0 10px;
        }
        &__title{
          color: #000;
          font-size: 14px;
          line-height: 1.3;
          @include line-clamp(4);
          max-height: 70px;
          margin: 0;
          font-weight: 500;
          a{
            &:hover{
              color: $color-main;
            }
          }
        }
      }
    }
  }
  &__view-more{
    padding: 0 15px 15px;
    text-align: center;
    a{
      color: rgba($color-main, 0.8);
      &:hover{
        color: $color-main;
      }
    }
  }
}