@import "~animatewithsass/_bouncing-entrances/bounceIn";
.reviews-and-comments{
  background: #fff;
  margin-top: 1rem;
  &__title{
    @include title-section();
  }
  &__main{
    padding: 15px;
    .reviews-statistic{
      border: 1px solid #f7f7f7;
      border-right: 0;
      border-bottom: 0;
      @include flexbox();
      @include flex-wrap(wrap);
      > div{
        border: 1px solid #f7f7f7;
        border-left: 0;
        border-top: 0;
        padding: 10px;
        text-align: center;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        @include flex-direction(column);
      }
      &__result{
        @include flex(0 0 30%);
        max-width: 30%;
        h3{
          font-size: 20px;
        }
        @import "../../../components/star-rating";
        .star-rating{
          width: 100px;
          height: 20px;
          background-position: 0 -20px;
          @include background-size(20px);
          span{
            @include background-size(20px);
          }
        }
        p{
          margin: 0.5rem 0 0;
          font-size: 12px;
          color: #999;
        }
      }
      &__rule{
        @include flex(0 0 30%);
        max-width: 30%;
        table{
          font-size: 11px;
          width: 100%;
          td{
            &:first-child{
              width: 40px;
              text-align: left;
            }
            &:last-child{
              width: 1px;
              text-align: left;
              color: #999;
              padding-left: 5px;
            }
            .rule{
              display: block;
              width: 100%;
              height: 5px;
              background: #ccc;
              position: relative;
              span{
                position: absolute;
                height: 100%;
                left: 0;
                top: 0;
                background: $color-green;
              }
            }
          }
        }
      }
      &__add-review{
        @include flex(0 0 40%);
        max-width: 40%;
        h3{
          font-size: 14px;
          font-weight: normal;
        }
        a{
          background: rgba($color-main, 0.8);
          border: none;
          color: #fff;
          font-size: 12px;
          padding: 0.5em 1em;
          text-transform: uppercase;
          display: inline-block;
          @include border-radius(3px);
          &:hover{
            background: $color-main;
          }
        }
      }
      @media (max-width: 767px) {
        &__result, &__rule{
          @include flex(0 0 50%);
          max-width: 50%;
        }
        &__add-review{
          @include flex(0 0 100%);
          max-width: 100%;
        }
      }
      @media (max-width: 500px) {
        &__result, &__rule{
          @include flex(0 0 100%);
          max-width: 100%;
        }
      }
    }
    .add-review{
      margin-top: 1rem;
      display: none;
      &__title{
        border-bottom: 1px solid #f7f7f7;
        font-size: 14px;
        padding-bottom: 5px;
        font-weight: normal;
      }
      &__box{
        padding: 10px;
        background: #f9f9f9;
        @import "../../../components/select-star-rating";
      }
    }
    .customer-comments{
      margin-top: 25px;
      &__title{
        font-size: 14px;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #f7f7f7;
        margin-bottom: 0;
      }
      &__list{
        .customer-comment-item{
          padding: 1rem 0;
          border-bottom: 1px dashed #f3f3f3;
          &__rating{
            @import "../../../components/star-rating";
          }
          &__auth{
            font-size: 12px;
            color: #999;
            margin: 5px 0;
            strong{
              color: #000;
            }
          }
          &__content{
            font-size: 13px;
            margin-bottom: 10px;
          }
          &__like{
            .button-like{
              font-size: 13px;
              border: 1px solid #eaeaea;
              background: none;
              padding: 3px 10px;
              @include border-radius(5px);
              &:before{
                content: '\f164';
                font-family: $font-awesome;
                font-weight: 400;
                color: rgba($color-main, 0.8);
                font-size: 1.2em;
                margin-right: 5px;
                display: inline-block;
              }
              &.active{
                &:before{
                  font-weight: 700;
                  color: $color-main;
                  @include bounceIn(
                    $duration: 0.5s,
                    $function: linear
                  )
                }
              }
            }
          }
        }
      }
      &__view-more{
        background: none;
        border: 1px solid #d62727;
        color: #d62727;
        @include border-radius(3px);
        padding: 0.5rem;
        display: inline-block;
        font-size: 12px;
        &:hover{
          color: #fff;
          background: $color-main;
        }
      }
    }
  }
  .modal-complete-send-review{
    .btn-facebook{
      position: relative;
      background: $color-facebook;
      color: #fff;
    }
  }
  .form-control{
    &:focus{
      @include box-shadow(none);
    }
    &.error{
      border-color: $color-red;
    }
  }
  .form-group{
    label{
      font-size: 14px;
      font-weight: 500;
      color: #000;
      span{
        color: $color-red
      }
      small{
        display: inline-block;
        font-size: 0.8em;
        color: #999;
      }
    }
    &__alert{
      color: #999;
      .alert-error{
        color: $color-red;
        font-size: 12px;
        margin-top: 4px;
      }
    }
  }
}