.specifications{
  background: #fff;
  width: 100%;
  &__title{
    @include title-section();
  }
  &__content{
    font-size: 11px;
    padding: 0 0.25rem;
    .table{
      margin: 0;
      td{
        border-color: #f9f9f9;
        &:first-child{
          width: 100px;
          color: #999;
        }
      }
      tr:first-child{
        td{
          border: 0;
        }
      }
    }
  }
  &__view-more{
    padding: 15px;
    button{
      background: none;
      border: 1px solid $color-main;
      color: $color-main;
      @include border-radius(3px);
      padding: 0.5rem;
      display: block;
      width: 100%;
      font-size: 12px;
      &:hover{
        background: $color-main;
        color: #fff;
      }
    }
  }
  &__modal{
    .table{
      margin: 0;
      font-size: 12px;
      td{
        border-color: #f9f9f9;
        &:first-child{
          width: 25%;
          min-width: 100px;
          color: #999;
        }
      }
      tr:first-child{
        td{
          border: 0;
        }
      }
      &__title{
        margin: 0;
        color: $color-main;
        font-size: 14px;
      }
    }
    .modal-body{
      padding: 10px 0.25rem;
    }
  }
}