@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);
/*fonts*/
$font-main: 'Roboto', sans-serif;
$font-awesome: "Font Awesome 5 Pro";
$font-awesome-brands: "Font Awesome 5 Brands";

/*colors*/
$color-red: #d62727;
$color-turquoise: #00c3b7;
$color-orange: #f26322;
$color-yellow: #f1c40f;
$color-green: #009933;
$color-ischool: #66cc99;
$color-facebook: #3b5998;

$color-main: $color-red;




