.blog-sidebar{
    &__widget{
        &:not(:last-child){
            margin-bottom: 40px;
        }
    }
    &__title{
        color: #000;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 25px;
        padding-bottom: 10px;
        position: relative;
        &:after{
            content: '';
            width: 25px;
            height: 2px;
            background: $color-main;
            position: absolute;
            top: 100%;
            left: 0;
        }
    }
    &__hot-blog{
        .row{
            margin: -0.5rem;
        }
        [class*="col-"]{
            padding: 0.5rem;
        }
        .blog-item{
            &--shortcut{
                &__thumb{
                    img{
                        display: block;
                        width: 100%;
                        @include object-fit(cover);
                        height: 88px;
                        @media (max-width: 1199px){
                            height: 72px;
                        }
                        @media (max-width: 991px){
                            height: 85px;
                        }
                        @media (max-width: 767px){
                            height: 130px;
                        }
                        @media (max-width: 575px){
                            height: 88px;
                        }
                    }
                }
                &__content{
                    padding-top: 0.5rem;
                }
                &__title{
                    color: #000;
                    font-size: 14px;
                    line-height: 1.3;
                    @include line-clamp(4);
                    max-height: 72px;
                    a{
                        &:hover{
                            color: $color-main;
                        }
                    }
                }
            }
        }
    }
    &__products{
        @import "./item-product-sortcut";
    }
    &__categories{
        > ul{
            padding: 0;
            margin: 0;
            list-style: none;
            > li{
                > a{
                    color: #000;
                    display: block;
                    font-size: 16px;
                    font-weight: 600;
                }
                &:not(:last-child){
                    padding-bottom: 1rem;
                    margin-bottom: 1rem;
                    border-bottom: 1px solid #eaeaea;
                }
            }
            ul{
                padding-left: 15px;
                margin: 0;
                li{
                    margin-top: 10px;
                    a{
                        &:hover{
                            color: $color-main;
                        }
                    }
                }

            }
        }
    }
}
