.customer-feedback{
  &__avatar{
    text-align: center;
    position: relative;
    z-index: 2;
    img{
      display: inline;
      @include border-radius(50%);
      width: 180px;
      height: 180px;
      @include object-fit(cover);
    }
  }
  &__content{
    margin-top: -80px;
    z-index: 1;
    position: relative;
    padding: 100px 15px 15px;
    background: #fafafa;
    @include border-radius(30px 30px 10px 10px);
    text-align: center;
    @include transition(all linear .2s);
    &:hover{
      background: rgba($color-main, 0.03);
    }
  }
  &__title{
    font-size: 17px;
    color: #000;
    line-height: 1.3;
  }
  &__detail{
    line-height: 1.67;
  }
}