.footer{
  background: #f8f8f8;
  padding: 40px 0;
  [class*="col-"]{
    padding: 15px;
  }
  &__title{
    color: $color-main;
    font-size: 16px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      width: 25px;
      height: 1px;
      background: rgba($color-main, 0.3);
      top: 100%;
      left: 0;
    }
  }
  &__links{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      margin-top: 15px;
      a{
        &:hover{
          color: $color-main;
        }
      }
    }
  }
  &__copyright{
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
  }
  .bocongthuong{
    max-width: 200px;
    width: 100%;
  }
}