@import "~animatewithsass/_fading-entrances/fadeInDown";
.header{
  position: relative;
  z-index: 1000;
  &-top{
    padding: 0.5rem 0;
    &__left, &__right{
      @include flexbox();
      @include align-items(center);
    }
    &__slogan{
      font-size: 14px;
      text-transform: uppercase;
      color: #999;
      font-weight: 600;
      margin: 0;
      @media (max-width: 575px) {
        display: none;
      }
    }
    &__external-links{
      margin-left: 20px;
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        @include flexbox();
        @include align-items(center);
        li{
          &:not(:last-child){
            margin-right: 15px;
          }
          img{
            width: 20px;
          }
        }
      }
      .color-green{
        color: $color-green;
      }
      .color-red{
        color: $color-red;
      }
      .color-ischool{
        color: $color-ischool;
      }
      @media (max-width: 1199px){
        width: 20px;
        height: 23px;
        background: url('/images/icon-red.png') no-repeat center center;
        @include background-size(contain);
        position: relative;
        cursor: pointer;

        ul{
          display: none;
          position: absolute;
          z-index: 1000;
          left: -1rem;
          top: 100%;
          width: 165px;
          padding-top: 8px;
          li{
            margin: 0 !important;
            a{
              display: block;
              background: #f7f7f7;
              padding: 0.5rem 1rem;
            }
            &:first-child{
              position: relative;
              &:before{
                content: '';
                @include triangle(top, 5px 7px 7px, #f7f7f7);
                position: absolute;
                bottom: 100%;
                left: 17px;
              }
            }
          }
        }
        &:hover{
          ul{
            display: block;
          }
        }
      }
      @media (max-width: 575px) {
        margin: 0;
      }
    }
    &__menu{
      margin-right: 20px;
      > ul{
        list-style: none;
        margin: 0;
        padding: 0;
        @include flexbox();
        @include align-items(center);
        > li{
          position: relative;
          &:not(:first-child){
            padding-left: 15px;
          }
          ul{
            position: absolute;
            left: 0;
            top: 100%;
            list-style: none;
            margin: 0;
            padding: 10px 0 0;
            width: 165px;
            z-index: 1000;
            display: none;
            li{
              background-color: #f7f7f7;
              a{
                display: block;
                padding: 0.5rem 1rem;
                &:hover{
                  color: #fff;
                  background: rgba($color-main, 0.7);
                }
              }
              &:not(:last-child){
                border-bottom: 1px solid #eee;
              }
              &:first-child{
                position: relative;
                &:before{
                  content: '';
                  @include triangle(top, 5px 7px 7px, #f7f7f7);
                  position: absolute;
                  bottom: 100%;
                  left: 30px;
                }
              }
            }
          }
          &:hover{
            > a{
              color: $color-main;
            }
            > ul{
              display: block;
            }
          }
        }
      }
      @media (max-width: 767px) {
        position: relative;
        &:before{
          content: '\f32d';
          font-family: $font-awesome;
          font-size: 23px;
          line-height: 1;
          color: #ccc;
          cursor: pointer;
          display: inline;
        }
        > ul {
          display: none;
          position: absolute;
          z-index: 1000;
        }
        &:hover{
          &:before{
            color: $color-main;
          }
          > ul{
            display: block;
            width: 105px;
            left: -1rem;
            top: 100%;
            padding-top: 8px;
            li{
              padding: 0 !important;
              background-color: #f7f7f7;
              a{
                display: block;
                padding: 0.5rem 1rem;
                &:hover{
                  color: #fff;
                  background: rgba($color-main, 0.7);
                }
              }
              &:not(:last-child){
                border-bottom: 1px solid #eee;
              }
              &:first-child{
                position: relative;
                &:before{
                  content: '';
                  @include triangle(top, 5px 7px 7px, #f7f7f7);
                  position: absolute;
                  bottom: 100%;
                  left: 18px;
                }
              }
              ul{
                left: 100%;
                top: 0;
                padding-top: 0;
                padding-left: 2px;
                li{
                  &:first-child{
                    &:before{
                      content: '';
                      @include triangle(left, 5px 7px 5px, #f7f7f7);
                      position: absolute;
                      bottom: auto;
                      left: -14px;
                      top: 12px
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &__hotline{
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        @include flexbox();
        @include align-items(center);
        li{
          color: #000;
          font-weight: 600;
          &:not(:last-child){
            margin-right: 10px;
            padding-right: 10px;
            border-right: 2px solid #eee;
          }
          a{
            &:before{
              content: '\f879';
              font-family: $font-awesome;
              font-weight: 700;
              color: $color-main;
              display: inline-block;
              margin-right: 5px;
            }
            &:hover{
              color: $color-main;
            }
          }
          @media (max-width: 370px) {
            font-weight: 400;
            font-size: 13px;
            &:not(:first-child){
              a{
                &:before{
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
  &-middle{
    background: $color-main;
    &__logo{
      width: 120px;
      @media (max-width: 767px) {
        width: 100px;
      }
    }
    &__service{
      > ul{
        @include flexbox();
        margin: 0 -15px;
        padding: 0;
        list-style: none;
        @include flex-wrap(wrap);
        padding: 25px 0;
        width: 675px;
      }
      .service{
        @include flex(0 0 33.33333%);
        max-width: 33.33333%;
        padding: 0 15px;
        position: relative;
        cursor: pointer;
        &:not(:last-child){
          border-right: 1px solid rgba(#000, 0.1);
        }
        &__detail{
          position: absolute;
          left: 0;
          width: 100%;
          top: 100%;
          padding: 0;
          margin: 0;
          list-style: none;
          padding-top: 25px;
          z-index: 1000;
          display: none;
          li{
            padding: 0.5rem 1rem;
            background: #f7f7f7;
            span{
              font-size: 13px;
              color: #999;
            }
            &:not(:first-child){
              border-top: 1px solid #eee;
            }
            &:first-child{
              position: relative;
              &:before{
                content: '';
                @include triangle(top, 5px 7px 7px, #f7f7f7);
                position: absolute;
                bottom: 100%;
                left: 50%;
                @include translate(-50%, 0);
              }
            }
          }
        }
        &__box{
          @include flexbox();
          @include align-items(center);
          @include flex-wrap(wrap);
        }
        &__icon{
          width: 50px;
        }
        &__title{
          width: calc(100% - 50px);
          color: #fff;
          padding-left: 10px;
          h4{
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 400;
            margin: 0 0 5px;
            &:after{
              content: '\f0d7';
              font-family: $font-awesome;
              display: inline-block;
              margin-left: 5px;
              font-weight: 700;
            }
          }
          span{
            font-size: 13px;
            color: rgba(#fff, 0.8);
          }
        }
        &:hover{
          .service__detail{
            display: block;
          }
        }
      }
      @media (max-width: 1199px) {
        position: relative;
        padding: 35px 0;
        &:before{
          content: '\f509';
          font-family: $font-awesome;
          display: block;
          color: #fff;
          font-size: 30px;
        }
        >ul{
          position: absolute;
          background: #e23f3f;
          right: 15px;
          top: 100%;
          width: 930px;
          z-index: 1000;
        }
        &:not(:hover){
          > ul{
            display: none;
          }
        }
      }
      @media (max-width: 991px) {
        margin-right: 100px;
        >ul{
          width: 690px;
          right: -35px;
        }
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
    &__search{
      @import "../components/search-product";
      @media (max-width: 575px) {
        padding: 35px 0;
        margin-right: 105px;
        .open-box{
          display: block;
          color: #fff;
          font-size: 25px;
        }
      }
    }
    &__button-menu{
      display: none;
      color: #fff;
      font-size: 30px;
      font-weight: 300;
      &:hover, &:focus{
        color: #fff;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        display: block;
        position: absolute;
        right: 15px;
        padding: 0;
        display: block;
        top: 50%;
        @include translate(0, -50%);
      }
      @media (max-width: 767px) {
        display: block;
        position: static;
        padding: 25px 0;
        @media (min-width: 576px) {
          margin-right: 50px;
        }
      }
      @media (max-width: 575px) {
        display: block;
        position: absolute;
        right: 15px;
        padding: 0;
        display: block;
        top: 50%;
        @include translate(0, -50%);
      }
    }
    &__cart{
      font-size: 24px;
      padding-top: 8px;
      .cart-count{
        font-size: 13px;
        font-weight: normal;
        position: absolute;
        top: 0;
        left: 50%;
        @include translate(-50%, 0);
        line-height: 1;
      }
      @media (min-width: 992px) {
        position: absolute;
        top: 100%;
        right: 15px;
        color: $color-main;
        margin-top: 5px;
      }
      @media (max-width: 991px) {
        position: absolute;
        color: #fff;
        right: 70px;
        margin-top: -3px;
      }
      @media (min-width: 576px) and (max-width: 767px){
        right: 15px;
      }
    }
    @media (max-width: 991px) {
      position: relative;
    }
  }
  &-bottom{
    @import "./nav-categories";
    &__button-close{
      top: 5px;
      position: absolute;
      left: 250px;
      z-index: 10;
      font-size: 20px;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      color: rgba(#fff, 0.7);
      display: none;
      @include transition(all liear .2s);
      &:before{
        content: '\f00d';
        font-family: $font-awesome;
        font-weight: 300;
      }
      &:hover{
        color: #fff;
      }
    }
    @media (max-width: 991px) {
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(#000, 0.3);
      overflow: hidden;
      z-index: 99999;
      visibility: hidden;
      opacity: 0;
      @include transition(all linear .2s);
      .container{
        max-width: inherit;
        padding: 0;
      }
      .nav-categories{
        visibility: hidden;
        @include translate(-100%, 0);
        @include transition(all ease .3s);
      }
      &.opened{
        visibility: visible;
        opacity: 1;
        .nav-categories{
          visibility: visible;
          @include translate(0, 0);
        }
      }
      &__button-close{
        display: block;
      }
    }
  }
  &--fixed{
    @media (min-width: 992px) {
      .header-middle{
        &__cart{
          position: fixed;
          top: 0;
          right: 50%;
          z-index: 99999;
          @include translate(465px, 0);
          @media (min-width: 1200px) {
            @include translate(555px, 0);
          }
        }
      }
      .header-bottom{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        @include box-shadow(5px -1px 20px -8px #ccc);
        background: #fff;
        @include fadeInDown(
                $duration: 1s,
                $function: ease,
                $fill: both
        )
      }
    }
    @media (max-width: 991px) {
      .header-middle{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        @include box-shadow(5px -1px 20px -8px #ccc);
        @include fadeInDown(
                $duration: 1s,
                $function: ease,
                $fill: both
        );
        &__logo{
          width: 80px;
        }
        &__service{
          padding: 15px 0;
        }
        @media (max-width: 767px) {
          &__button-menu{
            padding: 15px 0;
          }
        }
        @media (max-width: 575px){
          &__search {
            padding: 18px 0;
          }
        }
      }
    }
  }
}