@import "~animatewithsass/_fading-entrances/fadeInDown";
.header{
  position: relative;
  z-index: 1000;
  background: $color-main;
  &--fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    @include fadeInDown(
            $duration: 1s,
            $function: ease,
            $fill: both
    );
    .header__logo{
      img{
        width: 60px;
      }
    }
    .header__nav-box .nav-categories > ul > li {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &__logo{
    padding: 0.5rem 0;
    img{
      width: 120px;
      display: block;
      @include transition(all linear .3s);
    }
  }
  &__nav{
    .open-box{
      color: #fff;
      font-size: 26px;
      display: none;
    }
    &-box{
      @import "./nav-categories";
      @media (min-width: 992px){
        .nav-categories{
          > ul{
            > li{
              padding-top: 30px;
              padding-bottom: 30px;
              @include transition(all linear .3s);
              > a{
                color: #fff;
                font-weight: normal;
                text-transform: uppercase;
                font-size: 14px;
              }
              &:hover{
                > a{
                  background: rgba(#000, 0.05);
                  color: #fff;
                }
              }
            }
          }
        }
      }
      .close-box{
        display: none;
      }
    }
    @media (max-width: 991px) {
      .open-box{
        display: block;
      }
      &-box{
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        background: rgba(#000, 0.3);
        overflow: hidden;
        z-index: 99999;
        visibility: hidden;
        opacity: 0;
        @include transition(all linear .2s);
        .nav-categories{
          visibility: hidden;
          @include translate(-100%, 0);
          @include transition(all ease .3s);
        }
        &.opened{
          visibility: visible;
          opacity: 1;
          .nav-categories{
            visibility: visible;
            @include translate(0, 0);
          }
        }
        .close-box{
          top: 5px;
          position: absolute;
          left: 250px;
          z-index: 10;
          font-size: 20px;
          width: 35px;
          height: 35px;
          text-align: center;
          line-height: 35px;
          color: rgba(#fff, 0.7);
          display: block;
          @include transition(all liear .2s);
          &:hover{
            color: #fff;
          }
        }
      }
    }
  }
  &__search{
    .open-box{
      color: #fff;
      font-size: 26px;
    }
    &-box{
      position: absolute;
      width: 100%;
      padding: 15px 0;
      left: 0;
      top: 100%;
      background: rgba($color-main, 0.5);
      visibility: hidden;
      opacity: 0;
      @include transition(all linear .2s);
      &.opened{
        visibility: visible;
        opacity: 1;
      }
    }
    .search-blog{
      position: relative;
      &__text{
        display: block;
        border: none;
        width: 100%;
        height: 44px;
        @include border-radius(5px);
        padding: 0 44px;
        font-size: 16px;
      }
      &__submit, .close-box{
        background: none;
        border: none;
        color: #666;
        width: 44px;
        height: 44px;
        font-size: 18px;
        text-align: center;
        line-height: 44px;
        position: absolute;
        top: 0;
        &:hover{
          color: $color-main;
        }
      }
      &__submit{
        left: 0;
      }
      .close-box{
        right: 0;
      }
    }
  }
}