.product-item{
  background: #fafafa;
  max-width: 100%;
  @include flex(0 0 100%);
  @include transition(all linear .2s);
  &:hover{
    @include box-shadow(0px 0px 23px -12px #333);
  }
  &__box{
    padding: 10px;
    @include flexbox();
    @include flex-wrap(wrap);
  }
  &__left{
    @include flex(0 0 45%);
    max-width: 45%;
  }
  &__right{
    @include flex(0 0 55%);
    max-width: 55%;
    padding-left: 10px;
  }
  &__description{
    @include flex(0 0 100%);
    max-width: 100%;
    margin-top: 10px;
    .text-format{
      strong{
        color: $color-main;
      }
    }
  }
  &__thumb{
    img{
      width: 100%;
    }
  }
  &__title{
    color: #000;
    font-weight: 600;
    font-size: 15px;
    @include line-clamp(3);
  }
  &__guarantee{
    background: rgba($color-main, 0.1);
    color: $color-main;
    text-align: center;
    padding: 0.5em;
    @include border-radius(5px);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 0.5rem;
  }
  &__price{
    margin-bottom: 10px;
    p{
      margin-bottom: 0;
      font-size: 12px;
    };
    .price{
      font-size: 14px;
      &--original{
        text-decoration: line-through;
      }
      &--promotion{
        font-weight: bold;
        color: $color-red;
        font-size: 16px;
      }
    }
  }
  &__promotion{
    font-size: 12px;
    margin-bottom: 0.5rem;
    h6{
      color: #333;
      font-weight: 500;
      margin-bottom: 3px;
    }
    .text-format{
      p{
        margin: 0;
        padding: 0;
      }
    }
  }
  &__button-view{
    background: rgba($color-main, 0.8);
    color: #fff;
    @include transition(all linear .2s);
    @include border-radius(5px);
    text-align: center;
    padding: 0.5rem;
    line-height: 1.1;
    strong{
      text-transform: uppercase;
    }
    &:hover{
      background: $color-main;
    }
  }
  &__thumb{
    margin-bottom: 10px;
  }
  &__rating{
    margin-bottom: 10px;
    span{
      display: inline-block;
      font-size: 12px;
    }
    @import "../components/star-rating";
  }
  &__color{
    margin-bottom: 10px;
    h6{
      color: #333;
      font-size: 12px;
      margin-bottom: 3px;
      display: inline-block;
    }
    @import "../components/color-board";
  }
  &__capacity{
    h6{
      color: #333;
      font-size: 12px;
      margin-bottom: 3px;
      display: inline-block;
    }
    @import "../components/capacity-product";
  }
  @media (max-width: 767px) {
    &__description, &__promotion{
      display: none;
    }
    &__guarantee{
      display: inline-block;
      margin-right: 10px;
    }
    &__left, &__right{
      @include flex(0 0 100%);
      max-width: 100%;
    }
    &__left{
      @include flexbox();
      margin-bottom: 10px;
    }
    &__right{
      padding: 0;
    }
    &__thumb{
      margin-bottom: 0;
      @include flex(0 0 150px);
      max-width: 150px;
    }
    &__specifications{
      padding-left: 10px;
      @include flex(0 0 calc(100% - 150px));
      max-width: calc(100% - 150px);
    }
    &__price{
      display: inline-block;
      p{
        display: inline-block;
      }
    }
  }
  @media (max-width: 374px){
    &__thumb{
      @include flex(0 0 120px);
      max-width: 120px;
    }
    &__specifications{
      @include flex(0 0 calc(100% - 120px));
      max-width: calc(100% - 120px);
    }
  }
}
