.product-item-shortcut{
  @include flexbox();
  @include flex-wrap(wrap);
  align-items: center;
  &:not(:last-child){
    margin-bottom: 1rem;
  }
  &__thumb{
    @include flex(0 0 95px);
    max-width: 95px;
    img{
      border: 1px solid #f7f7f7;
      background: #f7f7f7;
      height: 95px;
      @include object-fit(cover);
    }
  }
  &__content{
    @include flex(0 0 calc(100% - 95px));
    max-width: calc(100% - 95px);
    padding-left: 10px;
  }
  &__title{
    color: #000;
    font-size: 16px;
    @include line-clamp(3);
    max-height: 57px;
    a{
      &:hover{
        color: $color-main;
      }
    }
  }
  &__price{
    .price{
      [class*="price__"]{
        &:not(:last-child){
          margin-right: 0.5rem;
        }
      }
      &:not(.has-sale){
        .price__original{
          color: $color-main;
          font-weight: 600;
        }
        .price__sale{
          display: none;
        }
      }
      &.has-sale{
        .price__original{
          font-size: 0.8em;
          display: inline-block;
          color: #999;
          text-decoration: line-through;
        }
        .price__sale{
          display: inline-block;
          color: $color-main;
          font-weight: 600;
          font-size: 1.1em;
        }
      }
    }
  }
}
