.nav-categories{
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .status{
    color: #f00;
    font-weight: bold;
    font-size: 12px;
  }
  @media (min-width: 992px) {
    white-space: nowrap;
    >ul{
      >li{
        position: relative;
        display: inline-block;
        > a{
          display: block;
          padding: 1rem 0.8rem;
          font-size: 16px;
          font-weight: bold;
          color: #000;
          @media (max-width: 1199px) {
            font-size: 14px;
            padding: 1rem 0.5rem;
          }
        }
        &:hover, &.active{
          > a{
            color: $color-main;
          }
          > ul{
            display: block;
          }
        }
        > ul{
          position: absolute;
          top: 100%;
          left: 0;
          white-space: normal;
          width: 220px;
          display: none;
          text-align: left;
          > li{
            &:first-child{
              &:before{
                content: '';
                @include triangle(top, 5px 7px 7px, #f7f7f7);
                position: absolute;
                bottom: 100%;
                left: 18px;
              }
            }
          }
          li{
            > a{
              display: block;
              padding: 1rem;
              background: #f7f7f7;
            }
            ul{
              position: absolute;
              display: none;
              left: 100%;
              top: 0;
              width: 220px;
              padding-left: 3px;
            }
            &:hover, &.active{
              > ul{
                display: block;
              }
              > a{
                background: $color-main;
                color: #fff;
              }
            }
            &:not(:first-child){
              border-top: 1px solid #eee;
            }
            li{
              &:first-child{
                &:before{
                  content: '';
                  @include triangle(left, 7px 10px 7px, #f7f7f7);
                  position: absolute;
                  top: 16px;
                  left: -17px;
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 991px){
    width: 300px;
    height: 100vh;
    background: #fff;
    overflow: auto;
    position: relative;
    > ul{
      a{
        display: block;
        padding: 1rem;
      }
      > li{
        border-color: #eaeaea !important;
        &:first-child{
          position: sticky !important;
          position: -webkit-sticky !important;
          z-index: 2;
          top: 0;
          left: 0;
          background: $color-main;
          color: #fff;
        }
      }
      li{
        &:not(:first-child){
          border-top: 1px solid rgba(#fff, 0.7);
        }
        ul{
          padding-left: 1rem;
          background: rgba(#000, 0.03);
          display: none;
        }
        &:first-child{
          position: relative;
          &:before{
            content: '';
            @include triangle(top, 5px 7px 7px, rgba(#000, 0.03));
            position: absolute;
            bottom: 100%;
            left: 10px;
          }
        }
      }
    }
  }
}